

body{
    margin:0;
    overflow:hidden;
    font-family:Inter,sans-serif;
    background:#f5f5f5;
}

canvas{
    display:block;
}

#info{
    position:fixed;
    top:30px;
    left:30px;
    width:380px;
    background:white;
    border-radius:12px;
    padding:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
    z-index:100;
}

#info h1{

    margin-top:0;

}

table{

    width:100%;
    margin-top:15px;
    left:30%;

}

td{

    padding:6px;
}

#buttons{

    position:absolute;
    bottom:40px;
    width:100%;
    display:flex;
    justify-content:center;
    gap:20px;

}

button{

    padding:12px 24px;
    border:none;
    border-radius:10px;
    background:white;
    cursor:pointer;
    font-size:16px;

}


#cardesc{
    color:#666;
    margin-top:10px;
    margin-bottom:15px;
    line-height:1.5;
    font-size:14px;
}


#buttons{
    z-index:10;
}

#carname{
    font-size:28px;
    font-weight:300;
}

#title1{
    position:absolute;
    top:30px;
    right:30px;
    color:white;
    font-size:42px;
    font-weight:200;
    text-align:right;
    line-height:1.1;
    letter-spacing:1px;
    z-index:10;
}